<footer class="shenks-footer">
    <div class="shenks-footer-content">
        <div class="shenks-footer-section">
            <h3>Follow Us</h3>
            <ul class="social-icons">
                <li><a href="https://github.com/shenks"><img src="images/facebook.png" alt="Facebook"></a></li>
                <li><a href="https://github.com/shenks"><img src="images/github.png" alt="Github"></a></li>
                <li><a href="https://github.com/shenks"><img src="images/instagram.png" alt="Instagram"></a></li>
            </ul>
        </div>
    </div>
    <div class="shenks-footer-bottom">
        <p>&copy; <script>document.write(new Date().getFullYear())</script> | Shenks' Marketplace Inc. or its affiliates</p>
    </div>
</footer>

</body>

</html>