<header>
  <div class="header-content">
    <div class="logo">
      <a href="/">
        <img
          src="/images/logo-no-background.png"
          alt="Shenks' Marketplace Logo"
        />
      </a>
    </div>

    <div class="nav-links">
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
    </div>
  </div>
</header>

