<header>
  <div class="header-content">
    <div class="title">
      <a href="/">Shenks'Marketplace</a>
    </div>

    <!-- why does the logo not work??? -->
    <!-- <div class="logo">
      <a href="/">
        <img src="../../public/images/logo-no-background.png" alt="picture" />
      </a>
    </div> -->

    <div class="nav-links">
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
    </div>
  </div>
</header>
