<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
  <h1>Welcome to Your Website</h1>
  <p>This is the main content of your page.</p>

  <div>
    <p>
      dustry. Lorem Ipsum has been the industry's standard dummy text ever since
      the 1500s, when an unknown printer toosadasdk a galley of type and
      scrambled it to make a type specimen book. It asdasdhas survived not only
      five centuries, but also the leap into electronic typesetting, remaining
      essentially unchanged.a
    </p>
  </div>
</main>

<%- include('partials/footer') %>

