<%- include('partials/head') %>
<%- include('partials/header') %>

<body>
<main>
  <h1>Products</h1>
  <p>This is the main content of your page.</p>


  <div>
    <%- include('products') %>
  </div>
</main>

<%- include('partials/footer') %>

