* {
    font-family: 'Inconsolata', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
  
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 20px;
}
  
.logo img {
  width: 150px;
  height: auto;
}

.title a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px; /* Adjust the font size as needed */
}
  
  /* Style the navigation links */
.nav-links ul {
    list-style: none;
    display: flex;
}
  
.nav-links li {
    margin-right: 20px; /* Add spacing between links */
}
  
.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
  
  /* Style the links on hover */
.nav-links a:hover {
    text-decoration: underline;
}
/* ========== end of header ========== */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
}

/* ========== footer styling ========== */
.shenks-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px; 
  background-color: #232f3e;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  z-index: 100;
}

.shenks-footer-content {
  max-width: 1200px;
  text-align: center;
}

.shenks-footer-section {
  margin-bottom: 10px; 
}

.shenks-footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.social-icons {
  list-style: none;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.social-icons img {
  width: 32px;
  height: 32px;
}

.shenks-footer-bottom {
  padding: 10px 0;
}

.shenks-footer-bottom p {
  font-size: 0.9rem;
}

/* ========== end of footer styling ========== */

/* ========== login/signup form styling ========== */

.typewriter h1 {
  color: black;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 20px auto;
  letter-spacing: 0.15em;
}

.typewriter h1 { 
  animation: typing 1000ms steps(20, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
     width: 0;
  }
  to {
    width: 100%;
 }
}

@keyframes blink-caret {
  from,
  to {
    border-color: orange;
 }
  50% {
    border-color: transparent;
 }
}

.form {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.form-items {
  max-width: 1000px; 
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-items label {
  display: block;
  margin-bottom: 10px;
}

.form-items input[type="password"],
.form-items input[type="email"] {
  width: 500px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-items button.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.form-items button.signup-btn {
  width: 100%;
  padding: 10px;
  background-color: #27aa36;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#switch-form {
  text-align: center;
  margin-top: 15px;
}

#switch-form a {
  text-decoration: none;
  color: #007bff;
}

#switch-form a:hover {
  text-decoration: underline;
}

/* ========== dashboard form styling ========== */

.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.add-item-container {
  width: 600px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ee9c2a;
}

.existing-items-container {
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ee9c2a;
}

.dashboard-form {
  display: grid;
  grid-gap: 5px;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.form-group label {
  font-weight: bold;
  padding-right: 10px;
}

.form-group input {
  flex: 1;
  height: 30px;
  font-size: 15px;
}

.form-group textarea {
  flex: 1;
  height: 150px;
  font-size: 15px;
}

.dashboard-button {
  background-color: #27aa36;
  margin-top: 20px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

